In [14]:
import pandas as pd
import sqlite3

In [15]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\dell\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: sqlparse in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (1.3.5)
Requirement already satisfied: prettytable<1 in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (7.6.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.9)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\dell\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)
Requirement already satisfied: pickleshare in c:\users\dell\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\dell\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (41.0.1)
Requirement already satisfied: jedi>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.13.3)
Requirement already satisfied: pygments in c:\users\dell\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: parso>=0.3.0 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.0)

In [16]:
df = pd.DataFrame({"Name_id":["vict", "joan", "joan", "mary"],
                  "Age":[23,34,43, 23],
                  "City":["lekki", "Surul", "ijeg", "gunta"]})

In [17]:
print(df)

  Name_id  Age   City
0    vict   23  lekki
1    joan   34  Surul
2    joan   43   ijeg
3    mary   23  gunta

In [18]:
#we will connect the sqlite3 library to our database

cnn = sqlite3.connect("jupyter_DBMS_SQL_RDBMS.db")

In [20]:
df.to_sql("skrill", cnn)

In [21]:
#We will load the sql module to ipython
%reload_ext sql

In [22]:
%sql sqlite:///jupyter_DBMS_SQL_RDBMS.db

In [23]:
%%sql
SELECT *
FROM skrill

 * sqlite:///jupyter_DBMS_SQL_RDBMS.db
Done.

[(0, 'vict', 23, 'lekki'),
 (1, 'joan', 34, 'Surul'),
 (2, 'joan', 43, 'ijeg'),
 (3, 'mary', 23, 'gunta')]

In [24]:
%%sql
SELECT COUNT(*)
FROM skrill

 * sqlite:///jupyter_DBMS_SQL_RDBMS.db
Done.

[(4,)]

In [10]:
%%sql
SELECT sum(age) as age_sum 
FROM flex

 * sqlite:///jupyter_DBMS_SQL_RDBMS.db
Done.

[(123,)]

In [11]:
# %%sql
# SELECT *
# DISTINCT Name FROM flex

In [25]:
%%sql
SELECT *
FROM skrill LIMIT 2

 * sqlite:///jupyter_DBMS_SQL_RDBMS.db
Done.

[(0, 'vict', 23, 'lekki'), (1, 'joan', 34, 'Surul')]

## Insert Statement

In [26]:
%%reload sqlite3
%%sql
INSERT INTO flex *
(index, Name_id, Age, City)
VALUES("4", "Kava", "21", "skup")

UsageError: Cell magic `%%reload` not found.

## Update Statement

In [ ]:
##checkout the update statement syntax below
UPDATE Table name
SET ColumnName = "Value"
<WHILE [CONDITION]> ##The condition involves the use of the Where clause to identify where the changes should be made

## Delete Statement

In [ ]:
DELETE flex 
WHERE Name_id = ("vict", "john")

In [ ]:
## Note-- Count, Limit and distinct are expressions used with the select statemrnt

##Note--- Insert, Update and Delete Statements are Data Manipulation languages

In [1]:
import sqlite3

In [2]:
conn =sqlite3.connect("newDb.db")

In [3]:
curs= conn.cursor()

In [4]:
curs.execute("CREATE TABLE students (id INTEGER, Name VARCHAR)")
curs.close()

In [3]:
CREATE TABLE country(
    ID int NOT NULL,
    ccode char(2),
    Name Varchar(60)
);

SyntaxError: invalid syntax (<ipython-input-3-c4b5c88c9179>, line 1)